<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:f="http://xmlns.jcp.org/jsf/core"
xmlns:p="http://primefaces.org/ui"
>
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</h:head>
<h:body>
<h:form>
<p:growl />
	<h:panelGrid columns="2">
	<p:outputLabel value="Login: " />
	<p:inputText value="#{loginBean.login}" />
	<p:outputLabel value="Password: " />
	<p:inputText value="#{loginBean.password}" />
	<p:commandButton value="Ingresar" action="#{loginBean.ingresar}" update="@form" />
</h:panelGrid>
</h:form>
</h:body>
</html>