<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:f="http://xmlns.jcp.org/jsf/core"
xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
xmlns:p="http://primefaces.org/ui"
>
<ui:composition template="./plantilla.xhtml">
<ui:define name="title">
		<h:outputText value="2222"></h:outputText>
	</ui:define>
	<ui:define name="content">
		Contenido del Hijo 2
		<p:calendar />
	</ui:define>
</ui:composition>
</html>