<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:p="http://primefaces.org/ui"
>
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</h:head>
<h:body>
<h:form>
	<h:panelGrid columns="2">
	<p:outputLabel value="Numero 1: " />
	<p:inputText value="#{lab1Bean.num1}" required="true" requiredMessage="El numero 1 es requerido" />
	<p:outputLabel value="Numero 2: " />
	<p:inputText value="#{lab1Bean.num2}" required="true" requiredMessage="El numero 2 es requerido" />
	<p:commandButton value="Sumar" disabled="true" rendered="false" />
	<p:commandButton value="Sumar desde Bean" 
		action="#{lab1Bean.sumar}" ajax="true" update="@form" />
	<p:outputLabel 
		rendered="#{lab1Bean.num1 ne null and false}"
		value="Resultado: #{lab1Bean.num1 + lab1Bean.num2}" />
	<p:outputLabel id="lblResultado"
		value="Resultado Bean: #{lab1Bean.num3}" />
	<!-- h:outputLabel value="Num3: # { lab1Bean.num3}" / -->
	</h:panelGrid>
	<h:messages />
	</h:form>
</h:body>
</html>