<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
</h:head>
<h:body>
	<h:form>
	<h:panelGrid columns="2">
		<p:outputLabel value="Login: " />
		<p:inputText value="#{loginBean.login}" required="true"
			requiredMessage="El login es requerido"
			maxlength="15" />
		<p:outputLabel value="Password: " />
		<p:password value="#{loginBean.password}" required="true"
			requiredMessage="El password es requerido"
			maxlength="40" />
		<p:commandButton value="Ingresar" update="@form" 
		action="#{loginBean.iniciarSesion}" />		
	</h:panelGrid>
	<h:messages showDetail="true" style="color: red" />
	</h:form>
</h:body>
</html>