<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
>
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</h:head>
<h:body>
<h:form>
	<h:panelGrid columns="2">
		<h:outputLabel value="Application: " />
		<h:inputText value="#{applicationBean.valor}" />
		<h:outputLabel value="Session: " />
		<h:inputText value="#{sessionBean.valor}" />
		<h:outputLabel value="View: " />
		<h:inputText value="#{viewBean.valor}" />
		<h:outputLabel value="Request: " />
		<h:inputText value="#{requestBean.valor}" />
		<h:outputLabel value="None: " />
		<h:inputText value="#{noneBean.valor}" />
	</h:panelGrid>
	<h:commandButton value="Establecer valores"></h:commandButton>
	</h:form>
</h:body>
</html>